{% extends "base.html.twig" %}
{% block body %}

<title>{% block title %}In My Steps{% endblock %}</title>



{# {{form_start(post)}}
{{form_widget(post)}}
<button>Add Post</button>
{{form_end(post)}} #}

    <form method="post" action="{{ path('add-article') }}">
        <div class="form-group">
            <label for="exampleInputEmail1">Title : </label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="author">Author : </label>
            <input type="text" name="author" id="author">
        </div>
        <label for="content">Content : </label>
        <input type="text" name="content" id="content" height="250px" width="50px">
        <label for="content">imgPath : </label>
        <input type="text" name="imgPath" id="imgPath" height="250px" width="50px">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}