{% extends "base.html.twig" %}
{% block body %}

<title class="text-align-center">{% block title %}In My Steps{% endblock %}</title>







<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <i class="fas fa-plane-departure"></i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
            <div class="row">
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active col-lg-4">
                            <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active col-lg-4">
                            <a class="nav-link" >Europe</a>
                        </li>
                        <li class="nav-item active col-lg-4">
                            <a class="nav-link" >Asie</a>
                        </li>
                        <li class="nav-item active col-lg-4">
                            <a class="nav-link" >Amerique Du Sud</a>
                        </li>
                        <li class="nav-item active col-lg-4">
                            <a class="nav-link" >Amerique Du Nord</a>
                        </li>
                        <li class="nav-item active col-lg-4">
                            <a class="nav-link" >Afique</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <h1>In My Steps</h1>
<a href="{{path('add')}}" class="add"><i class="fas fa-plus-circle"></i></a>
    <h3>Europe</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{post.title}} </h5>
                    <p class="card-text">
                        <img src="{{post.imgPath}}" alt="">
                        {{post.content}} </br>

                        <div class="auteur"> {{post.author}}</div>
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <button class="btn btn-danger" a href="{{path('deletepost', {id:post.id})}}" class="card-link">Delete post</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Asie</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{post.title}} </h5>
                    <p class="card-text">
                        <img src="{{post.imgPath}}" alt="">
                        {{post.content}} </br>

                        <div class="auteur"> {{post.author}}</div>
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <button class="btn btn-danger" a href="{{path('deletepost', {id:post.id})}}" class="card-link">Delete post</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>Amerique Du Sud</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{post.title}} </h5>
                    <p class="card-text">
                        <img src="{{post.imgPath}}" alt="">
                        {{post.content}} </br>

                        <div class="auteur"> {{post.author}}</div>
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <button class="btn btn-danger" a href="{{path('deletepost', {id:post.id})}}" class="card-link">Delete post</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>Amerique Du Nord</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{post.title}} </h5>
                    <p class="card-text">
                        <img src="{{post.imgPath}}" alt="">
                        {{post.content}} </br>

                        <div class="auteur"> {{post.author}}</div>
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                   <button class="btn btn-danger" a href="{{path('deletepost', {id:post.id})}}" class="card-link">Delete post</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>Afrique</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{post.title}} </h5>
                    <p class="card-text">
                        <img src="{{post.imgPath}}" alt="">
                        {{post.content}} </br>

                        <div class="auteur"> {{post.author}}</div>
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <button class="btn btn-danger" a href="{{path('deletepost', {id:post.id})}}" class="card-link">Delete post</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}